.formControl.error input,
.formControl.error textarea {
  background-color: #D76F30;
  border: dashed 2px #6BB77B;
}

.formControl.error span {
  display: block;
  width: 150px;
  text-align: center;
  font-size: 26px;
  background-color: #D76F30;
  color: #172D13;
}
