.wrap {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  margin-bottom: 30px;
  background-color: #d2ffdc;
  color: #172D13;
}

.button {
  margin-left: auto;
  box-sizing: border-box;
  padding: 8px 20px;
  background-color: #468f56;
  color:#172D13;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
